<div style="padding:16px;">
  <h1>Edit your todo</h1>

  <%= form_for @todo do |f| %>
    <%= f.text_area :content %><br />
    <%= f.select :category_id, @categories.collect{ |c| [c.name, c.id] }%>
    <%= f.submit "Update" %>
  <% end %>
</div>
