<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<div class="root">
  <div class="grid-container-root">
    <div class="grid-container-root-item">
      <div class="drawer-background">
        <div style="font-size: 16px;">
          ATB Chore Board
        </div>
        <div>
          <%= button_to("New chore", new_todo_path, :method => :get, :class => 'add-button') %>

        </div>
        <div>
          <%= render partial: 'categories/category_list' %>
        </div>
      </div>
    </div>
    <div class="grid-container-root-item">
      <div class="grid-container-all-todos">
        <div class="grid-item-all-todos">
          <div class="todo-container">
            <% @todos.each do |todo| %>
              <%= render partial: "todos/todo_item", locals: {todo: todo} unless todo.completed %>
            <% end %>
          </div>
        </div>
        Completed
        <div class="grid-item-all-todos">
          <div class="todo-container">
            <% @todos.each do |todo| %>
              <%= render partial: "todos/todo_item", locals: {todo: todo} if todo.completed %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
