<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<h1> Todo List </h1>
<%= link_to(image_tag("add_icon.png"), new_todo_path) %>

<div class="all_todos_container">
  <div class="all_todos_item">
    In Progress:
    <div class="todo_container">
      <% @todos.each do |todo| %>
        <%= render partial: "todos/todo_item", locals: {todo: todo} unless todo.completed %>
      <% end %>
    </div>
  </div>

  <div class="all_todos_item">
  Completed:
    <div class="todo_container">
      <% @todos.each do |todo| %>
        <%= render partial: "todos/todo_item", locals: {todo: todo} if todo.completed %>
      <% end %>
    </div>
  </div>
</div>




