<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<h1> Todo List </h1>
<%= link_to("New Todo Item", new_todo_path) %>

<div class="todo_container">
  <% @todos.each do |todo| %>
    <%= render partial: "todos/todo_item", locals: {todo: todo} %>
  <% end %>
</div>

