<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<h1> Todo List </h1>
<%= link_to("New Todo Item", new_todo_path) %>

<div class="todo_container">
  <% @todos.each do |todo| %>
    <div class="todo_item">
      <div class="todo_item_content">
        <%= link_to(todo.title, todo_path(todo.id)) %>
      </div>
      <div class="todo_item_actions">
        <%= link_to "edit", edit_todo_path(todo[:id]) %>
        <%= link_to "delete", todo, method: :delete, data: { confirm: "You sure?" }%>
      </div>

    </div>
  <% end %>
</div>

